
.carousel-ctrl{
    z-index: 1;
    margin:auto;
    position: absolute;
    top: 45%;
    cursor: pointer;
    background: rgb(0,0,0,0.4);
    color: white;
    border-radius: 6px;
    padding: 10px;
}

.carousel-right{
    float: right;
    display: block;
    right: 25px
}

.carousel-left{
    float: left;
    display: block;
    left: 25px
}
